
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.btn .btn-primary {
    color: black !important;
    background-color: black;
    border-color: black;
}
.btn .btn-primary:hover {
    color: black !important;
    background-color: white;
    border-color: white;
}

.kdg{
    color: white !important;
    background-color: black;
    border-color: black;
}
.kdg:hover {
    color: black !important;
    background-color: white !important;
    border-color: black !important;
}

.kdg:active{
    box-shadow:none;
}

.kdg:focus{
    box-shadow: none;
    border-color: none;
    outline: 0 none;
}
