.courses input:checked+div>h3 {
    color: white;
}
.courses input:checked+label {
    background-color: blue;
}
.courses input {
    position: absolute;
    /* or absolute */
    left: 50%;
}
.notselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checked {
    background-color: lightblue;
    color: white;
}

button:hover {
  background-color: #606060;
  color: #fff
}

.vertical-align-text {
  display: flex;
  align-items: center;
}

.circle-big {height: 4em; width: 4em;}
.circle-small {height: 3em; width: 3em;}

.plus {
  position: relative;
  height: 3em;
  width: 3em;
}

.plus::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: #000;
  height: 1px;
  margin-top: -1px;
  top: 50%;
  left: 5px;
  right: 5px;
  z-index: 9;
}
.plus::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: #000;
  width: 1px;
  margin-left: -1px;
  left: 50%;
  top: 5px;
  bottom: 5px;
  z-index: 9;
}
